body {
  background-image: url(../images/back.jpg);

}

h1 {
  text-align: center;
}

img {
  width: 400px;
  height: 220px;
}

.fix_jumbotron {
  height: 80px;
}

.content {
  background-color: rgba(247,247,236, 0.8);
  height: 520px;
}

.gameDiv {
  text-align: center;
  font-size: 23px;
}
#results {
  text-align: center;
  font-size: 26px;
  margin-top: 20px;
}
#question {

  margin-top: 20px;
}

#timer {
  margin-top: 20px;
  font-size: 26px;
}

#variants {
  margin-top: 20px;
}

li {
  list-style: none;
  font-size: 23px;
  width: 200px;
  margin-left: 90px;

}
li:hover {
  background-color: #D4D2A9;
  cursor: pointer;
}

button.startGame {
  background-color: #D4D2A9;
  height: 40px;
  width: 120px;
  font-size: 18px;
}
